<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Invoice Details</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Invoice Details</div>
		<div class="panel-body">
			
			<table class="table table-bordered table-striped">
		        <tr>
	                <th>Start Date</th>
	                <td th:text="${invoice.startDate}"></td>
	            </tr>
	            <tr>
	                <th>End Date</th>
	                <td th:text="${invoice.endDate}"></td>
	            </tr>
	            <tr>
	                <th>Total Cost</th>
	                <td th:text="${invoice.total}"></td>
	            </tr>
			</table>
		
		</div>
		
		<div class="panel-heading">Plant Hire Request Details</div>
		<div class="panel-body">
			
			<table class="table table-bordered table-striped">
		        <tr>
	                <th>Start Date</th>
	                <td th:text="${phr.startDate}"></td>
	            </tr>
	            <tr>
	                <th>End Date</th>
	                <td th:text="${phr.endDate}"></td>
	            </tr>
	            <tr>
	                <th>Price</th>
	                <td th:text="${phr.price}"></td>
	            </tr>
			</table>
		</div>
		
		<div class="panel-heading">Verifications for the Invoice</div>
		<div class="panel-body">
			<div th:text="${message1}"></div>
			<div th:text="${message2}"></div>
			<div th:text="${message3}"></div>
			<a class="btn btn-default" th:href="@{/invoices}">Back</a>
			<a class="btn btn-default" th:href="@{'/invoices/'+${invoice.id}+'/pay'}">Pay</a>
		</div>
	</div>
</div>
</body>
</html>