<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Purchase Orders</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Invoices</div>
  <div class="panel-body">

    <table id ="InvoicesCatalog" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="PORow" th:each="inv : ${invoices}">
                <td th:text="${inv.startDate}"></td>
                <td th:text="${inv.endDate}"></td>
                <td th:text="${inv.total}"></td>
                <td>
                	<div th:if="${inv.payed}" th:text="'PAYED'"></div>
                	<div th:if="${inv.payed == false}">
                		<div th:text="${inv.latePayment}? 'LATE PAYMENT' : 'UNPAYED'"></div>
                	</div>
                </td>
                <td>
	                <form th:if="${!inv.payed}" style ='float:left; padding:5px; height:0px' th:method="post" th:action="@{'/invoices/'+${inv.id}}">
	                	<input type="hidden" name="invId" th:value="${inv.id}" />
	                	<button class="btn btn-default btn-xs" type="submit"><span>View Details</span></button>
	                </form>
 				</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="panel-body">
		<a class="btn btn-default" th:href="@{/welcome}">Home Page</a>
		<a class="btn btn-default" th:href="@{'/#/phrs'}">Plant Hire Requests</a>
    </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>