<div class="panel panel-default">
	<div class="panel-heading">Cancel Plant Hire Request</div>
	<div class="panel-body">
		
		<br>
		<h3>{{message}}</h3>
		<br>
		
		<form class="form-horizontal" >
			<div class="form-group">
	  			<label for="startDate" class="col-sm-2 control-label">Start date</label>
				<input id="StartDateValue" type="date" ng-model="phr.startDate" readonly="readonly"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="endDate" class="col-sm-2 control-label">End date</label>
				<input id="EndDateValue" type="date" ng-model="phr.endDate" readonly="readonly"></input>
	  		</div>
	  		<div class="form-group">
	  			<label for="cost" class="col-sm-2 control-label">Cost</label>
				<input type="text" ng-model="phr.cost" readonly="readonly"></input>
	  		</div>
	  		<button id="CancelButton" class="btn btn-default" ng-click="cancelPHR(phr.id)">
				Cancel Plant Hire Request
			</button>
			<a type="button" class="btn btn-default" href="#/phrs">
		        Back
		    </a>
		</form>
	</div>
</div>