<div class="panel panel-default">
    <div class="panel-heading">List Plant Hire Requests Lines</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableRow" ng-repeat="phr in phrs">
                    <td>
                        {{phr.plant.description}}
                        <a type="button" class="btn btn-default" ng-click="inspectPlant(phr.plant.links[0].href)">
                            Inspect plant
                        </a>
                    </td>
                    <td class="startDate">{{phr.startDate}}</td>
                    <td class="endDate">{{phr.endDate}}</td>
                    <td class="cost">{{phr.cost}}</td>
                    <td>
                        <button class="btn btn-xs" ng-repeat="link in phr._links"
                            ng-class="{'btn-success':link.method=='POST','btn-danger':link.method=='DELETE'}"
                            ng-click="follow(link, phr.requestID)">
                            {{link.rel}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a type="button" class="btn btn-default" ng-click="addPlant()">
        Add a New Plant
    </a>
    <a type="button" class="btn btn-default" href="#/phrs">
        Back
    </a>
    <a type="button" class="btn btn-default" ng-click="approveAll()">
        Approve All
    </a>
</div>