<div class="panel panel-default">
    <div class="panel-heading">List Plant Hire Requests</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Add Plant</th>
                    <th>Plants Number</th>
                    <th>Total Cost</th>
                    <th>View Lines</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tableRow" ng-repeat="phr in phrs">
                    <td>
                        <button class="btn btn-xs" ng-click="addPlant(phr.requestID)">
                            Add plant
                        </button>
                    </td>
                    <td>{{phr.linesNumber}}</td>
                    <td>{{phr.totalPrice}}</td>
                    <td>
                        <button class="btn btn-xs" ng-click="follow(phr.requestID)">
                            View Lines
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a type="button" class="btn btn-default" href="#/phrs/create">
        Create a Plant Hire Request
    </a>
	<a class="btn btn-default" href="/welcome">Home Page</a>
	<a class="btn btn-default" href="/invoices">Invoices</a>
</div>